DETAILS

{

display:block;
color:black;
font-size:20pt;
font-family:"Times New Roman";
font-weight:bold;
border-style:solid;
}

title
{

color:red;
font-size:25pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;
}
a
{

color:blue;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;
}

NAME
{

display:block;
color:red;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;
}

MODEL

{
display:block;
color:orange;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;

}

TYPE

{

display:block;
color:orange;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;

}

COMPANY

{

display:block;
color:grey;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;

}

PRICE

{

display:block;
color:brown;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;

}

COLOUR

{

display:block;
color:brown;
font-size:20pt;
font-family:"Times New Roman";
text-decoration:underLine;
text-ident:2.5in;

}



